In [1]:
# This automatically time every cell's execution
!pip install ipython-autotime
%load_ext autotime

Requirement already satisfied: ipython-autotime in /home/appuser/Miniconda3/lib/python3.6/site-packages

In [2]:
from timeit import default_timer as timer
notebook_start_time = timer()

time: 2.32 ms

In [3]:
import pymapd

time: 162 ms

In [4]:
con = pymapd.connect(user="mapd", password="HyperInteractive", host="localhost", dbname="mapd")
con

Connection(mapd://mapd:***@localhost:9091/mapd?protocol=binary)

time: 14.8 ms

<hr />

# The Analysis

In [5]:
c = con.execute("SELECT COUNT (*) FROM Phones_accelerometer;")
pa_size = c.fetchone()[0]
c.close()

print('accelerometer rows', pa_size)

accelerometer rows 13062475
time: 2min 23s

In [6]:
con.execute("DROP VIEW IF EXISTS newpadf;")
con.execute("""CREATE VIEW newpadf AS (
SELECT new_creation,
       avg(x) AS am_x,
       stddev(x) AS as_x,
       avg(y) AS am_y,
       stddev(y) AS as_y,
       avg(z) AS am_z,
       stddev(y) AS as_y,
       count(*) AS cnt,
       User_,
       Model,
       Device,
       gt
FROM
  (SELECT FLOOR(Creation_Time/1280000000) AS new_creation,
          x,
          y,
          z,
          User_,
          Model,
          Device,
          gt
   FROM Phones_accelerometer 
   LIMIT 5000000
   )
WHERE gt <> 'null'
GROUP BY new_creation,
         User_,
         Model,
         Device,
         gt
   );
""")

time: 204 ms

In [7]:
con.execute("DROP VIEW IF EXISTS newpgdf;")
con.execute("""CREATE VIEW newpgdf AS (
SELECT new_creation,
       avg(x) AS gm_x,
       stddev(x) AS gs_x,
       avg(y) AS gm_y,
       stddev(y) AS gs_y,
       avg(z) AS gm_z,
       stddev(y) AS gs_y,
       count(*) AS cnt,
       User_,
       Model,
       Device,
       gt
FROM
  (SELECT FLOOR(Creation_Time/1280000000) AS new_creation,
          x,
          y,
          z,
          User_,
          Model,
          Device,
          gt
   FROM Phones_gyroscope
   LIMIT 5000000
   )
WHERE gt <> 'null'
GROUP BY new_creation,
         User_,
         Model,
         Device,
         gt
    );
""")

time: 202 ms

Get data min-max

In [8]:
df = con.select_ipc_gpu("SELECT Model, x, y, z FROM Phones_accelerometer LIMIT 100000")

time: 2.68 s

In [9]:
df.groupby("Model").agg(['max', 'min']).head().to_pandas()

    Model    x_max      x_min     y_max     y_min     z_max     z_min
0  nexus4  2.70874 -19.410858  8.179092 -7.035049  24.39566  1.297729

time: 660 ms

Get data for fitting

In [10]:
padf = con.select_ipc_gpu("""SELECT new_creation, am_x, am_y, am_z, 
User_,
CASE
    WHEN User_ = 'a' THEN 0
    WHEN User_ = 'b' THEN 1
    WHEN User_ = 'c' THEN 2
    WHEN User_ = 'd' THEN 3
    WHEN User_ = 'e' THEN 4
    WHEN User_ = 'f' THEN 5
    WHEN User_ = 'g' THEN 6
    WHEN User_ = 'h' THEN 7
    WHEN User_ = 'i' THEN 8
    ELSE -1 
END AS User_id,
Model, 
CASE 
    WHEN Model = 'nexus4' THEN 0
    WHEN Model = 's3' THEN 1
    WHEN Model = 's3mini' THEN 2
    WHEN Model = 'samsungold' Then 3
    ELSE -1 
END AS Model_id,
Device,
CASE 
    WHEN Device = 'nexus4_1' THEN 0
    WHEN Device = 'nexus4_2' THEN 1
    WHEN Device = 's3_1'  THEN 2
    WHEN Device = 's3_2'  THEN 3
    WHEN Device = 's3mini_1'  THEN 4
    WHEN Device = 's3mini_2' THEN 5
    WHEN Device = 'samsungold_1' THEN 6
    WHEN Device = 'samsungold_2' THEN 7
    ELSE -1 
END AS Device_id,
gt,
CASE
    WHEN gt = 'null' THEN 0
    WHEN gt = 'bike' THEN 1
    WHEN gt = 'sit' THEN 2
    WHEN gt = 'stairsdown' THEN 3
    WHEN gt = 'stand' THEN 4
    WHEN gt = 'walk' THEN 5
    ELSE -1 
END AS gt_id
FROM newpadf
""")

time: 3min 57s

In [11]:
pgdf = con.select_ipc_gpu("""SELECT new_creation, gm_x, gm_y, gm_z, 
User_,
CASE
    WHEN User_ = 'a' THEN 0
    WHEN User_ = 'b' THEN 1
    WHEN User_ = 'c' THEN 2
    WHEN User_ = 'd' THEN 3
    WHEN User_ = 'e' THEN 4
    WHEN User_ = 'f' THEN 5
    WHEN User_ = 'g' THEN 6
    WHEN User_ = 'h' THEN 7
    WHEN User_ = 'i' THEN 8
    ELSE -1 
END AS User_id,
Model, 
CASE 
    WHEN Model = 'nexus4' THEN 0
    WHEN Model = 's3' THEN 1
    WHEN Model = 's3mini' THEN 2
    WHEN Model = 'samsungold' Then 3
    ELSE -1 
END AS Model_id,
Device,
CASE 
    WHEN Device = 'nexus4_1' THEN 0
    WHEN Device = 'nexus4_2' THEN 1
    WHEN Device = 's3_1'  THEN 2
    WHEN Device = 's3_2'  THEN 3
    WHEN Device = 's3mini_1'  THEN 4
    WHEN Device = 's3mini_2' THEN 5
    WHEN Device = 'samsungold_1' THEN 6
    WHEN Device = 'samsungold_2' THEN 7
    ELSE -1 
END AS Device_id,
gt,
CASE
    WHEN gt = 'null' THEN 0
    WHEN gt = 'bike' THEN 1
    WHEN gt = 'sit' THEN 2
    WHEN gt = 'stairsdown' THEN 3
    WHEN gt = 'stand' THEN 4
    WHEN gt = 'walk' THEN 5
    ELSE -1 
END AS gt_id
FROM newpgdf
""")

time: 3min 55s

In [12]:
print(len(padf))
padf.head().to_pandas()

31142

,new_creation,am_x,am_y,am_z,User_,User_id,Model,Model_id,Device,Device_id,gt,gt_id
0,1113108674,-1.539323,0.144328,10.117271,f,5,nexus4,0,nexus4_1,0,stand,4
1,9194,-3.896598,0.276165,8.541514,b,1,samsungold,3,samsungold_1,6,stairsup,-1
2,1113046287,-5.920813,0.425148,8.312222,a,0,nexus4,0,nexus4_2,1,walk,5
3,6311,-4.138998,-0.782953,9.176802,d,3,samsungold,3,samsungold_1,6,walk,5
4,72742,7.453236,-0.461968,6.780866,f,5,samsungold,3,samsungold_2,7,sit,2

time: 47.3 ms

In [13]:
print(len(pgdf))
pgdf.head().to_pandas()

20564

,new_creation,gm_x,gm_y,gm_z,User_,User_id,Model,Model_id,Device,Device_id,gt,gt_id
0,3367,-0.168090,-0.047730,0.445830,f,5,s3mini,2,s3mini_1,4,stairsdown,3
1,213033,0.961258,-0.083771,-1.119477,c,2,s3,1,s3_2,3,stairsdown,3
2,1113043383,0.117823,0.003251,-0.182828,c,2,nexus4,0,nexus4_2,1,stand,4
3,1113046084,-0.001331,-0.002930,-0.000141,a,0,nexus4,0,nexus4_2,1,sit,2
4,9782,-0.162490,-0.014998,-0.382798,c,2,s3mini,2,s3mini_1,4,walk,5

time: 38.2 ms

Join Accl and Gyro data by new_creation

In [14]:
joined = padf.set_index('new_creation').join(pgdf.set_index('new_creation'), how='inner',
                                             lsuffix='_a', rsuffix='_g')
joined.head().to_pandas()

,am_x,am_y,am_z,User__a,User_id_a,Model_a,Model_id_a,Device_a,Device_id_a,gt_a,...,gm_y,gm_z,User__g,User_id_g,Model_g,Model_id_g,Device_g,Device_id_g,gt_g,gt_id_g
2544,-2.332352,0.488547,9.154649,f,5,s3mini,2,s3mini_1,4,stand,...,-0.010270,-0.015240,f,5,s3mini,2,s3mini_1,4,stand,4
2545,-2.368417,0.463942,9.149274,f,5,s3mini,2,s3mini_1,4,stand,...,-0.008406,-0.010093,f,5,s3mini,2,s3mini_1,4,stand,4
2546,-2.399140,0.465124,9.141461,f,5,s3mini,2,s3mini_1,4,stand,...,-0.012086,0.000279,f,5,s3mini,2,s3mini_1,4,stand,4
2547,-2.392986,0.494178,9.140623,f,5,s3mini,2,s3mini_1,4,stand,...,-0.008208,-0.008393,f,5,s3mini,2,s3mini_1,4,stand,4
2548,-2.421098,0.479429,9.134391,f,5,s3mini,2,s3mini_1,4,stand,...,-0.009141,-0.005928,f,5,s3mini,2,s3mini_1,4,stand,4

time: 1.23 s

In [15]:
print(len(joined))

14097
time: 978 µs

In [16]:
newpdf = joined.query("User_id_a == User_id_g and Model_id_a == Model_id_g and Device_id_a == Device_id_g and gt_id_a == gt_id_g")
print(len(newpdf))
newpdf.head().to_pandas()

10133

,am_x,am_y,am_z,User__a,User_id_a,Model_a,Model_id_a,Device_a,Device_id_a,gt_a,...,gm_y,gm_z,User__g,User_id_g,Model_g,Model_id_g,Device_g,Device_id_g,gt_g,gt_id_g
2544,-2.332352,0.488547,9.154649,f,5,s3mini,2,s3mini_1,4,stand,...,-0.010270,-0.015240,f,5,s3mini,2,s3mini_1,4,stand,4
2545,-2.368417,0.463942,9.149274,f,5,s3mini,2,s3mini_1,4,stand,...,-0.008406,-0.010093,f,5,s3mini,2,s3mini_1,4,stand,4
2546,-2.399140,0.465124,9.141461,f,5,s3mini,2,s3mini_1,4,stand,...,-0.012086,0.000279,f,5,s3mini,2,s3mini_1,4,stand,4
2547,-2.392986,0.494178,9.140623,f,5,s3mini,2,s3mini_1,4,stand,...,-0.008208,-0.008393,f,5,s3mini,2,s3mini_1,4,stand,4
2548,-2.421098,0.479429,9.134391,f,5,s3mini,2,s3mini_1,4,stand,...,-0.009141,-0.005928,f,5,s3mini,2,s3mini_1,4,stand,4

time: 689 ms

In [17]:
newdf = newpdf.loc[:, ['gt_a', 'am_x', 'am_y', 'am_z', 'gm_x', 'gm_y', 'gm_z']]
newdf.head().to_pandas()

       gt_a      am_x      am_y      am_z      gm_x      gm_y      gm_z
2544  stand -2.332352  0.488547  9.154649 -0.015058 -0.010270 -0.015240
2545  stand -2.368417  0.463942  9.149274 -0.016026 -0.008406 -0.010093
2546  stand -2.399140  0.465124  9.141461 -0.012900 -0.012086  0.000279
2547  stand -2.392986  0.494178  9.140623 -0.014166 -0.008208 -0.008393
2548  stand -2.421098  0.479429  9.134391 -0.017783 -0.009141 -0.005928

time: 35 ms

Scaled

In [18]:
scaleddf = newdf.copy()   # shallow copy
for col in scaleddf.columns:
    if col != 'gt_a':
        scaled = scaleddf[col].scale() # bug pygdf #79
        scaleddf[col] = scaled.set_index(scaleddf.index)
scaleddf.head().to_pandas()

       gt_a      am_x      am_y      am_z      gm_x      gm_y      gm_z
2544  stand  0.453016  0.545773  0.362228  0.543764  0.317008  0.490769
2545  stand  0.451348  0.542702  0.361976  0.543475  0.317310  0.491945
2546  stand  0.449928  0.542849  0.361609  0.544409  0.316714  0.494316
2547  stand  0.450212  0.546476  0.361569  0.544031  0.317342  0.492334
2548  stand  0.448912  0.544635  0.361276  0.542949  0.317191  0.492897

time: 118 ms

K-means

In [19]:
features = scaleddf.as_matrix(['am_x', 'am_y', 'am_z', 'gm_x', 'gm_y', 'gm_z'])

time: 3.75 ms

In [20]:
features.shape

(10133, 6)

time: 14.3 ms

In [21]:
import h2o4gpu

time: 620 ms

In [22]:
kmeans = h2o4gpu.KMeans(n_clusters=6, n_gpus=1)

time: 34.5 ms

In [23]:
%%time

kmeans.fit(features)

CPU times: user 184 ms, sys: 656 ms, total: 840 ms
Wall time: 838 ms

time: 844 ms

In [24]:
kmeans.cluster_centers_

array([[ 0.82437169,  0.49042848,  0.2832677 ,  0.54614064,  0.31902063,
         0.49203333],
       [ 0.48863996,  0.44253517,  0.37964116,  0.54904334,  0.31813703,
         0.49380682],
       [ 0.36465961,  0.44248734,  0.33835243,  0.68810589,  0.30763472,
         0.26104246],
       [ 0.45617209,  0.62480976,  0.36735603,  0.5480791 ,  0.31697116,
         0.49617689],
       [ 0.317565  ,  0.51095204,  0.3119136 ,  0.55203113,  0.31757965,
         0.48934029],
       [ 0.36445346,  0.55246136,  0.33740921,  0.40933738,  0.31340287,
         0.73171644]])

time: 3.26 ms

In [25]:
predicted = kmeans.predict(features)

time: 28.5 ms

In [26]:
import pandas as pd

time: 6.33 ms

In [27]:
from pygdf import Series

preddf = scaleddf.copy()   # shallow copy

cat_type = pd.Categorical.from_codes([], categories=scaleddf.gt_a.cat.categories)
gt_predicted = Series.from_categorical(cat_type, codes=predicted)
preddf['gt_predicted'] = gt_predicted.set_index(preddf.index)

time: 26.8 ms

In [28]:
preddf.head().to_pandas()

,gt_a,am_x,am_y,am_z,gm_x,gm_y,gm_z,gt_predicted
2544,stand,0.453016,0.545773,0.362228,0.543764,0.317008,0.490769,bike
2545,stand,0.451348,0.542702,0.361976,0.543475,0.317310,0.491945,bike
2546,stand,0.449928,0.542849,0.361609,0.544409,0.316714,0.494316,bike
2547,stand,0.450212,0.546476,0.361569,0.544031,0.317342,0.492334,bike
2548,stand,0.448912,0.544635,0.361276,0.542949,0.317191,0.492897,bike

time: 54.3 ms

In [29]:
print("percent matches", len(preddf.query('gt_a == gt_predicted')) / len(preddf))

percent matches 0.14191256291325371
time: 195 ms

show matches

In [30]:
preddf.query('gt_a == gt_predicted').head().to_pandas()

,gt_a,am_x,am_y,am_z,gm_x,gm_y,gm_z,gt_predicted
3219,walk,0.426135,0.549926,0.345851,0.491306,0.319684,0.616066,walk
3250,walk,0.395875,0.610599,0.349389,0.387538,0.364936,0.569014,walk
3282,stairsdown,0.481606,0.522964,0.342750,0.547046,0.306118,0.489044,stairsdown
3286,stairsdown,0.445846,0.521320,0.354992,0.557540,0.314870,0.505085,stairsdown
3312,stairsdown,0.458517,0.505015,0.383738,0.522436,0.313094,0.567913,stairsdown

time: 94 ms

show mismatch

In [31]:
preddf.query('gt_a != gt_predicted').head().to_pandas()

,gt_a,am_x,am_y,am_z,gm_x,gm_y,gm_z,gt_predicted
2544,stand,0.453016,0.545773,0.362228,0.543764,0.317008,0.490769,bike
2545,stand,0.451348,0.542702,0.361976,0.543475,0.317310,0.491945,bike
2546,stand,0.449928,0.542849,0.361609,0.544409,0.316714,0.494316,bike
2547,stand,0.450212,0.546476,0.361569,0.544031,0.317342,0.492334,bike
2548,stand,0.448912,0.544635,0.361276,0.542949,0.317191,0.492897,bike

time: 204 ms

In [32]:
print("Notebook execution time:", timer() - notebook_start_time)

Notebook execution time: 625.0002697445452
time: 1.15 ms