In [1]:
import pandas as pd

# Phones Accelerometer

In [6]:
df = pd.read_csv("data/Activity_recognition_exp/Phones_accelerometer.csv", nrows=1000)

In [9]:
df.head()

,Index,Arrival_Time,Creation_Time,x,y,z,User,Model,Device,gt
0,0,1424696633908,1424696631913248572,-5.958191,0.688065,8.135345,a,nexus4,nexus4_1,stand
1,1,1424696633909,1424696631918283972,-5.952240,0.670212,8.136536,a,nexus4,nexus4_1,stand
2,2,1424696633918,1424696631923288855,-5.995087,0.653549,8.204376,a,nexus4,nexus4_1,stand
3,3,1424696633919,1424696631928385290,-5.942718,0.676163,8.128204,a,nexus4,nexus4_1,stand
4,4,1424696633929,1424696631933420691,-5.991516,0.641647,8.135345,a,nexus4,nexus4_1,stand

In [8]:
df.dtypes

Index              int64
Arrival_Time       int64
Creation_Time      int64
x                float64
y                float64
z                float64
User              object
Model             object
Device            object
gt                object
dtype: object

```sql
CREATE TABLE Phones_accelerometer (
Index              INTEGER,
Arrival_Time       BIGINT,
Creation_Time      BIGINT,
x                DOUBLE,
y                DOUBLE,
z                DOUBLE,
User              TEXT ENCODING DICT,
Model             TEXT ENCODING DICT,
Device            TEXT ENCODING DICT,
gt                TEXT ENCODING DICT
);
```

# Phones gyroscope

In [12]:
df = pd.read_csv("./data/Activity_recognition_exp/Phones_gyroscope.csv", nrows=1000)

In [13]:
df.head()

,Index,Arrival_Time,Creation_Time,x,y,z,User,Model,Device,gt
0,0,1424696633909,1424696631914042029,0.013748,-0.000626,-0.023376,a,nexus4,nexus4_1,stand
1,1,1424696633909,1424696631919046912,0.014816,-0.001694,-0.022308,a,nexus4,nexus4_1,stand
2,2,1424696633918,1424696631924051794,0.015884,-0.001694,-0.021240,a,nexus4,nexus4_1,stand
3,3,1424696633919,1424696631929117712,0.016953,-0.003830,-0.020172,a,nexus4,nexus4_1,stand
4,4,1424696633928,1424696631934214148,0.015884,-0.007034,-0.020172,a,nexus4,nexus4_1,stand

In [14]:
df.dtypes

Index              int64
Arrival_Time       int64
Creation_Time      int64
x                float64
y                float64
z                float64
User              object
Model             object
Device            object
gt                object
dtype: object

```sql
CREATE TABLE Phones_gyroscope (
Index              INTEGER,
Arrival_Time       BIGINT,
Creation_Time      BIGINT,
x                DOUBLE,
y                DOUBLE,
z                DOUBLE,
User              TEXT ENCODING DICT,
Model             TEXT ENCODING DICT,
Device            TEXT ENCODING DICT,
gt                TEXT ENCODING DICT
);
```