In [1]:
import pymapd

In [2]:
con = pymapd.connect(user="mapd", password="HyperInteractive", host="localhost", dbname="mapd")
con

Connection(mapd://mapd:***@localhost:9091/mapd?protocol=binary)

In [3]:
con.execute("DROP TABLE IF EXISTS Phones_accelerometer;")
con.execute("""CREATE TABLE Phones_accelerometer (
Index              INTEGER,
Arrival_Time       BIGINT,
Creation_Time      BIGINT,
x                  DOUBLE,
y                  DOUBLE,
z                  DOUBLE,
User_              TEXT ENCODING DICT,
Model             TEXT ENCODING DICT,
Device            TEXT ENCODING DICT,
gt                TEXT ENCODING DICT
);
""")

In [4]:
con.execute("DROP TABLE IF EXISTS Phones_gyroscope;")
con.execute("""CREATE TABLE Phones_gyroscope (
Index              INTEGER,
Arrival_Time       BIGINT,
Creation_Time      BIGINT,
x                  DOUBLE,
y                  DOUBLE,
z                  DOUBLE,
User_              TEXT ENCODING DICT,
Model             TEXT ENCODING DICT,
Device            TEXT ENCODING DICT,
gt                TEXT ENCODING DICT
);
""")

In [5]:
ls ./data/Activity_recognition_exp/*.csv

./data/Activity_recognition_exp/Phones_accelerometer.csv
./data/Activity_recognition_exp/Phones_gyroscope.csv
./data/Activity_recognition_exp/Watch_accelerometer.csv
./data/Activity_recognition_exp/Watch_gyroscope.csv

In [6]:
!wc -l data/Activity_recognition_exp/Phones_accelerometer.csv

13062476 data/Activity_recognition_exp/Phones_accelerometer.csv

In [7]:
!wc -l data/Activity_recognition_exp/Phones_gyroscope.csv

13932633 data/Activity_recognition_exp/Phones_gyroscope.csv

In [8]:
pwd = !pwd
path = '{PWD}/data/Activity_recognition_exp/Phones_accelerometer.csv'.format(PWD=pwd[0])
!head -n 3 $path
q = "COPY Phones_accelerometer FROM '{path}';".format(path=path)
print(q)
con.execute(q)

Index,Arrival_Time,Creation_Time,x,y,z,User,Model,Device,gt
0,1424696633908,1424696631913248572,-5.958191,0.6880646,8.135345,a,nexus4,nexus4_1,stand
1,1424696633909,1424696631918283972,-5.95224,0.6702118,8.136536,a,nexus4,nexus4_1,stand
COPY Phones_accelerometer FROM '/home/appuser/demo-strata/data/Activity_recognition_exp/Phones_accelerometer.csv';

In [9]:
path = '{PWD}/data/Activity_recognition_exp/Phones_gyroscope.csv'.format(PWD=pwd[0])
q = "COPY Phones_gyroscope FROM '{path}';".format(path=path)
print(q)
con.execute(q)

COPY Phones_gyroscope FROM '/home/appuser/demo-strata/data/Activity_recognition_exp/Phones_gyroscope.csv';

In [10]:
df = con.select_ipc_gpu("SELECT * FROM Phones_accelerometer LIMIT 1000")

In [11]:
df.head().to_pandas()

,Index,Arrival_Time,Creation_Time,x,y,z,User_,Model,Device,gt
0,250520,1424697992604,1424697990607800034,-7.057922,-0.975815,5.247955,a,nexus4,nexus4_1,stairsup
1,245465,1424697967142,1424697965145652955,-7.680389,-1.744675,11.758270,a,nexus4,nexus4_1,stairsup
2,250522,1424697992616,1424697990617260483,-6.862732,-1.425705,5.556213,a,nexus4,nexus4_1,stairsup
3,251577,1424697997922,1424697995930103676,-10.077423,3.349320,13.093658,a,nexus4,nexus4_1,stairsdown
4,245466,1424697967142,1424697965150749390,-7.893433,-1.386429,11.977264,a,nexus4,nexus4_1,stairsup

In [12]:
for k, dt in zip(df.columns, df.dtypes):
    if str(dt) == 'category':
        col = df[k]
        print(k, ':', col.cat.categories)

User_ : ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i')
Model : ('nexus4', 's3', 's3mini', 'samsungold')
Device : ('nexus4_1', 'nexus4_2', 's3_2', 's3mini_1', 's3_1', 'samsungold_1', 'samsungold_2', 's3mini_2')
gt : ('stairsup', 'stairsdown', 'null', 'bike', 'stand', 'walk', 'sit')